/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  color: #333;
  font: 18px "Buenard", "Georgia", "Times New Roman", serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

h1 { margin-bottom: 0.6em; }
p { margin: 1em 0; }

a:link { color: #ee106f; }
a:visited { color: #ee106f; }
a:hover { color: #333; }
a:active { color: #ee106f; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
}

ul.posts li {
  line-height: 1.55em;
}

ul.posts span {
  color: #666;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 155%;
  text-align: justify;
  width: 33em;
  margin: 0.6em auto 2em;
  line-height: 1.4em;
}

header {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 2em;
}

header a {
  font-weight: bold;
  text-decoration: none;
}

header a.extra {
  margin-left: 1em;
  color: #aaa;
}

header a:hover {
  color: #333;
}

header h1.title {
  font-size: 135%;
  display: inline-block;
}

.site .meta {
  color: #666;
}

footer {
  font-size: 80%;
  color: #666;
  border-top: 1px dotted #ddd;
  margin-top: 2em;
  overflow: hidden;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post h1 {
  font-size: 235%;
  margin-bottom: 0.3em;
}

#post p {
  text-align: left;
}

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}
