<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="site">
      <header>
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
      </header>

      {{ content }}

      <footer>
        <p>
          info@janogonzalez.com /
          <a href="http://github.com/janogonzalez">code</a> /
          <a href="http://soundcloud.com/janogonzalez">music</a>
        </p>
      </footer>
    </div>
  </body>
</html>
