<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="site">
      <header>
        <span class="title"><a href="/">{{ site.name }}</a></span>
        <nav>
          <a href="/">About</a> |
          <a href="/posts">Posts</a>
        </nav>
      </header>

      {{ content }}

      <footer>
        <p>
          info@janogonzalez.com |
          <a href="https://github.com/janogonzalez">code</a> |
          <a href="https://soundcloud.com/janogonzalez">music</a> |
          <a href="https://github.com/janogonzalez/janogonzalez.github.io/raw/master/resume.pdf">resume</a>
        </p>
      </footer>
    </div>
  </body>
</html>
